<template>
<v-app>
  <div class="d-flex flex-row mb-6">
    <span class="col-9" style="font-size: 20px;">کیا گیشه</span>
    <v-bottom-navigation
    :value="value"
    color="teal"
    grow
    
    > 

    <v-btn>
      <span>ورود</span>

      <v-icon>mdi-account</v-icon>
    </v-btn>

    <v-btn>
      <span>ثبت نام</span>
      <v-icon>mdi-plus</v-icon>

   
    </v-btn>
  </v-bottom-navigation>
  </div>
  <div class="d-flex flex-row mb-6">
   <v-card>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant.sync="mini"
      permanent
    >
      <v-list-item class="px-2">
        <v-list-item-avatar>
          <v-img src="https://randomuser.me/api/portraits/men/85.jpg"></v-img>
        </v-list-item-avatar>

        <v-list-item-title>John Leider</v-list-item-title>

        <v-btn
          icon
          @click.stop="mini = !mini"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item
          v-for="item in items"
          :key="item.title"
          :to="'/'+item.url"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-card>
  <!-- Sizes your content based upon application components -->
  <v-main>
    <!-- Provides the application the proper gutter -->
    <v-container fluid>
      <!-- If using vue-router -->
      <router-view></router-view>
    </v-container>
  </v-main>
</div>
  <v-footer app>
    <!-- -->
  </v-footer>
</v-app>

</template>
<script>
  export default {
    data () {
      return {
        drawer: true,
        items: [
          {url:'profile', title: 'پروفایل', icon: 'mdi-account' },
          {url:'movies', title: 'فیلم ها', icon: 'mdi-home-city' },
          {url:'snackes', title: 'تنقلات', icon: 'mdi-account-group-outline' },
        ],
        mini: true,
      }
    },
  }
</script>