<template>
    <div>about page</div>
</template>

<script>
import { metaProperty } from '@babel/types';

    export default{
        head(){
            return{
                title: "about page",
                meta:[
                    {
                        hid:'description',
                        name:'description',
                        content:"this is my about page"
                    }
                ]
            }
        }
    }

</script>